
.label{
  font-family: Regular;
  display: block;
  padding-bottom: 20px;
}
.contentAll{
  padding: 10px;
  display: block;
}
.contentTextArea{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
}

.textarea{
  font-family: Regular;
  font-size: 20px;
  width: 490px;
  resize: none;
  height: auto;
  border-radius: 20px;
  border-color: #09f;
  padding: 10px;
  border: 1px solid #09f;
}
.textResult{
  font-family: Regular;
  font-size: 20px;
  padding: 20px;
  resize: none; 
  width: 70%; 
  height: auto;
  border-radius: 20px;
  border-color: #09f;
}
h2{
  font-family: Regular;
  padding: 10px;
  color: #fff;
}
.contentTable{
  margin: 5% auto;
  background-color: #09f;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.contentColumn{
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  
}
ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}

/* Footer */

.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 120px;
  background-color: #09f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

a.menu:hover {
  background-color:rgb(255, 255, 255);
  font-size:20px;
}

.footer-content-right {
  padding-right:40px;
  margin-top:20px;
  float:right;
}

.icon-style {
  height:40px;
  margin-left:20px;
  margin-top:5px;
}

/*contentText{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: #ff9100; 
  width: 70%;
  resize: none;
  height: 320px;
  border-radius: 20px;
  padding: 20px;
}*/

.btn { 
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #09f;
  border-radius: 10px;
  margin-top: 10px;
  width: 120px;
}

.btn:hover{
  transform: scale(1.01);
}

.text-btn{
  font-family: Regular;
  font-size: 13px;
  color: #fff;
}
